/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');
@import url("components/banner.css");
@import url("components/buttons.css");
@import url("components/cards.css");
/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
  background-color: #111D13;
}


h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

/* Custom design below! */

.container {
  width: 900px;
  margin: 0 auto;
  text-align: center;
  /* text-shadow: 4px 2px 10px black; */
  /* background-color: #111D13; */
}

.banner > .container > h1 {
  color: blanchedalmond;
  text-shadow: 2px 2px 10px black;
}

.banner > .container > p {
  color: white;
  text-shadow: 4px 2px 10px black;
}

.container h2 {
  color: white;
}
